<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataSourceConfig" type="DBH.Config.DBHelperConfiguraionSectionHandler,DBHelper"/>
    <section name="DBConfig" type="DBH.Config.DBConfig,DBHelper"/>
  </configSections>
  <DBConfig>
    <ODBC DSN="Mysql" UID="root" PWD="123123"/>
    <SqlServer Server="10.232.27.214" Database="" UserID="" Password=""/>
    <Sybase HostName="10.6.62.241" Port="5000" Database="ABST" Language="us_english" UID="abstdbo" PWD="abstdbop" ConnectTimeout="10" ConnectionLifetime="300" Minpoolsize="1" Maxpoolsize="500" Pooling="true" DBCoding="iso-1"/>
    <MySql Server="localhost" UserID="root" Password="123123" Database="abst_amp"/>
    <OleDb Provider="Sybase.ASEOLEDBProvider.2" UserID="" DataSource="" Password="" Pool=""/>
    <Access Provider="Microsoft.Jet.oledb.4.0" DataSource=""/>
  </DBConfig>
  <appSettings>
    <add key="DBType" value="ODBC"/>
  </appSettings>

  <DataSourceConfig>
    <DataSource name="appconfig" dialect="SybaseHelper:SybaseHelper.SybaseHelper">
      <parm id="connstr" value="Data Source='10.6.62.201';Port='5000';UID='simsdbo';PWD='simsdbo1411';Database='SIMS'; Language='us_english' Connect Timeout=10;Connection Lifetime=300;Pooling=true;Min pool size=1 ;Max pool size=500;"/>
      <parm id="encoding" value="iso-1"/>
    </DataSource>
    <DataSource name="default" dialect="SybaseHelper:SybaseHelper.SybaseHelper">
      <parm id="connstr" value="Data Source='10.6.62.241';Port='5000';UID='abstdbo';PWD='abstdbop';Database='ABST'; Language='us_english' Connect Timeout=10;Connection Lifetime=300;Pooling=true;Min pool size=1 ;Max pool size=500;"/>
      <parm id="encoding" value="iso-1"/>
    </DataSource>
    <DataSource name="mysql" dialect="MySqlHelper:MySqlHelper.MySqlHelper">
      <parm id="connstr" value="Server=localhost;User Id=root;Password=123123;Database=abst_amp"/>
    </DataSource>
    <DataSource name="sh_test_sybase" dialect="SybaseHelper:SybaseHelper.SybaseHelper">
      <parm id="connstr" value="Data Source='10.6.62.241';Port='5000';UID='abstdbo';PWD='abstdbop';Database='ABST'; Language='us_english' Connect Timeout=10;Connection Lifetime=300;Pooling=true;Min pool size=2 ;Max pool size=500;"/>
      <parm id="encoding" value="iso-1"/>
    </DataSource>
    <DataSource name="odbc" dialect="ODBCHelper:OdbcHelper.OdbcHelper">
      <parm id="connstr" value="DSN=ABST;UID=abstdbo;PWD=abstdbop"/>
    </DataSource>
  </DataSourceConfig>



</configuration>